@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.active {
  color: var(--accent);
}

.active:hover {
  color: var(--color-text-accent-hover);
}
